/**
 * 人员管理页面模板-scss
 * @author AndyPan
 * @createdate 2018年11月21日18:25:02
 */

// .project-logs-wrap {}

.project-logs-number {
  color: red;
}
.parameters{
  padding-right: 80px !important;
  width: 410px;
}