/**
 * 人员管理页面模板-scss
 * @author AndyXu
 * @createdate 2018年11月21日18:25:02
 */

// .system-logs-wrap{

// }
.system-logs-number{
    color: red;
}

.browserInfo{
    padding-right: 80px !important;
    width: 410px;
}
