<!-- 
  部门管理
  @author: AndyPan
  @createdata: 2018年11月27日18:25:11
 -->

<div class="common-main-wrap system-wrap">
  <div class="common-main-hd">
    <span class="common-bread-crumb">
      <nz-breadcrumb nzSeparator=">">
        <nz-breadcrumb-item>
          系统管理
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          部门管理
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          部门设置
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </span>
    <span class="common-bread-search">
      <nz-input-group nzSearch [nzSuffix]="suffixButton">
        <input type="text" nz-input placeholder="关键字搜索"
          (keyup)="keyupEvent($event)"
          [(ngModel)]="operationStatus.filter"  />
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="primary" nzSearch (click)="searchEvent()">搜索</button>
      </ng-template>
    </span>
  </div>
  <div class="common-main-cont">
    <nz-spin [nzTip]="operationStatus.loadingTip" [nzSpinning]="operationStatus.isLoading">
      <div class="common-table-wrap">
        <div class="common-table-cont zzj-scrollbar">
          <nz-table #basicTable [nzData]="status.dataList" [nzShowPagination]="false">
            <thead>
              <tr>
                <th nzShowCheckbox [(nzChecked)]="operationStatus.allChecked" [nzIndeterminate]="operationStatus.indeterminate"
                  (nzCheckedChange)="checkAll($event)"></th>
                <th width="200px">序号</th>
                <th>部门名称</th>
                <th width="200px">上级部门</th>
                <th width="200px">人员数</th>
                <!-- <th width="200px">部门级别</th> -->
                <th>部门描述</th>
                <th width="120px">
                  <button nz-button [nzType]="'primary'" [nzSize]="'small'" (click)="addDepartment()">
                    新建部门
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of status.dataList;let idx = index">
                <td nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshCheckboxStatus()"></td>
                <td>{{idx + 1}}</td>
                <td>{{data.displayName}}</td>
                <td>{{data.parentName || '-'}}</td>
                <td>{{data.memberCount}}(人)</td>
                <!-- <td>&nbsp;</td> -->
                <td>{{data.description}}</td>
                <td>
                  <a href="javascript:;" (click)="editDeparment(data)" title="编辑">
                    <i nz-icon type="form"></i>
                  </a>
                  &nbsp;
                  <a href="javascript:;" (click)="deleteDepartment(data)" title="删除">
                    <i nz-icon type="delete"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
        <div class="common-pager">
          <span class="common-pager-helper">
            <button nz-button [disabled]="operationStatus.delBtnStatus" [nzType]="'primary'" [nzSize]="'small'" (click)="operateData()">
              批量删除
            </button>
          </span>
          <nz-pagination [(nzPageIndex)]="operationStatus.pager.pageIndex" [nzTotal]="operationStatus.pager.totalPages"
            (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)" nzShowSizeChanger
            nzShowQuickJumper [nzShowTotal]="rangeTemplate"></nz-pagination>
            <ng-template #rangeTemplate  let-total>
                共 {{total}} 条 
              </ng-template>
        </div>
      </div>
    </nz-spin>
  </div>

  <!-- 弹出框（新增、编辑） -->
  <nz-modal [(nzVisible)]="operationStatus.modal.operationModalStatus" [nzContent]="addModalContent" [nzFooter]="operationStatus.modal.isShowModalFooter ? addModalFooter : null"
    (nzOnCancel)="operationCloseModal('operationModalStatus')" [nzTitle]="operationStatus.modal.operationModalTitle">
    <ng-template #addModalContent>
      <components-custom-forms [formData]="operationStatus.modal.customFormInfoModel" [disabledForm]="operationStatus.modelDisabled"
        #customForms>
      </components-custom-forms>
    </ng-template>
    <ng-template #addModalFooter>
      <button nz-button *ngIf="operationStatus.modal.sureButton" [nzType]="operationStatus.modal.sureButton.type || 'primary'"
        [disabled]="operationStatus.modelDisabled" (click)="operationSubmitModal()">
        {{operationStatus.modelDisabled ? operationStatus.modal.sureButton.submitText :
        operationStatus.modal.sureButton.text}}
      </button>
      <button nz-button *ngIf="operationStatus.modal.resetButton" [nzType]="operationStatus.modal.resetButton.type || 'default'"
        [disabled]="operationStatus.modelDisabled" (click)="operationResetModal()">
        {{operationStatus.modelDisabled ? operationStatus.modal.resetButton.submitText :
        operationStatus.modal.resetButton.text}}
      </button>
    </ng-template>
  </nz-modal>
</div>
