<!-- 
  设置页面模板-html
  @author AndyPan
  @createdate 2018年11月30日15:33:43
 -->
<div class="system-layout-wrap">
  <div class="system-layout-menu box-shadow">
    <div class="layout-menu-wrap zzj-scrollbar">

      <div class="information-panel auto">
        <ul nz-menu [nzMode]="'inline'">
          <li nz-submenu
            *ngFor="let menu of status.menus;let idx=index;"
            [(nzOpen)]="menu.isActive">
            <span title>{{menu.text}}</span>
            <ul>
              <li nz-menu-item 
                *ngFor="let child of menu.children;let childIdx=index;">
                <span class="item-btn"
                  (click)="menuRoute(child)">{{child.text}}</span>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <div class="system-layout-cont zzj-scrollbar">
    <router-outlet></router-outlet>
  </div>
</div>